@model IEnumerable<ContosoUniversity1.Models.Stage>

@{
    ViewData["Title"] = "Index";
}

<h1>Offres de Stage</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.etat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.etat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
